<!-- default header -->
<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <a href="{{ "/" | prepend: site.baseurl }}" class="navbar-brand">{{ site.title }}</a>
      <a href="https://github.com/tomatoguo" class="navbar-brand">Github</a>
    </div>
  </div>
</header>
<div class="bs-docs-header" id="content" tabindex="-1">
  <div class="container">
    <h1>{{ site.title }}</h1>
    <p>{{ site.description }}</p>
  </div>
</div>